/* ------------------------------------------------------------------------------------------------- */
/* VARIABLES */
/* ------------------------------------------------------------------------------------------------- */
:root {
  /* FONTS */
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --letter-spacing: 0.02em;
  /* COLORS */
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  /*
    --modal-overlay-color:rgb(46, 47, 66,.4);
    --hero-background-color:rgba(46, 47, 66,.7);
    --modal-background-color:linear-gradient(0deg, rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.4)),
                                linear-gradient(0deg, #FCFCFC, #FCFCFC)
     */
}
/* ------------------------------------------------------------------------------------------------- */
/* COMMON STYLES START*/
/* ------------------------------------------------------------------------------------------------- */
body {
  font-family: var(--primary-font);
  /* font-size: 16px; */
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3 {
  text-transform: capitalize;
}

.list {
  list-style: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}
/* h2 */
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--dark-color);
  letter-spacing: var(--letter-spacing);
  text-align: center;
}
/* h3 */
.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: var(--letter-spacing);
}

.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  /* text-transform: capitalize; */
}
.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}
/* COMMON STYLES END*/

/* ------------------------------------------------------------------------------------------------- */
/* HEADER START*/
/* ------------------------------------------------------------------------------------------------- */

/* NAVIGATION */

/* SITE LOGO */
.site-logo,
.footer-logo {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  color: var(--primary-brand-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.site-logo-text {
  color: var(--dark-color);
}
/* NAVIGATION LIST */
.nav-list-link {
  font-weight: 500;
  color: var(--dark-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--pressed-state-color);
}

/* ACTIVE PAGE */
.link--active {
  color: var(--pressed-state-color);
}

/* CONTACTS */
.contacts {
  font-style: normal;
  color: var(--text-color);
}
.contacts-list-link[href='mailto:info@devstudio.com']:hover,
.contacts-list-link[href='mailto:info@devstudio.com']:focus {
  color: var(--pressed-state-color);
}

/* HEADER END*/

/* ------------------------------------------------------------------------------------------------- */
/* MAIN START */
/* ------------------------------------------------------------------------------------------------- */

/* HERO */
.hero {
  background-color: var(--dark-color);
  text-align: center;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-color);
  letter-spacing: var(--letter-spacing);
}
.hero-title-word {
  text-transform: lowercase;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
}

/* ------------------------------------------------------------------------------------------------- */

/* FEATURES */

/* ------------------------------------------------------------------------------------------------- */

/* SERVICES */

/* ------------------------------------------------------------------------------------------------- */

/* TEAM */

/* ------------------------------------------------------------------------------------------------- */
.team {
  background-color: var(--light-color);
  text-align: center;
}
.team-list-item {
  background-color: var(--white-color);
}
.team-list-description {
  text-transform: capitalize;
}
/* MAIN END */
/* ------------------------------------------------------------------------------------------------- */
/* FOOTER START*/
/* ------------------------------------------------------------------------------------------------- */
.footer {
  background-color: var(--dark-color);
}
.footer-logo-text {
  color: var(--light-color);
}
.footer-description {
  color: var(--light-color);
}

/* FOOTER END */

/* ------------------------------------------------------------------------------------------------- */
/* PORTFOLIO START*/
/* ------------------------------------------------------------------------------------------------- */

/* FILTERS */
.filters-button {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
}
.filters-button:hover,
.filters-button:focus {
  color: var(--white-color);
}
/* PROJECTS */
.projects-list-description {
  text-transform: capitalize;
}
/* PORTFOLIO END*/
/* ------------------------------------------------------------------------------------------------- */
